 <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= profiles.human_attribute_name(:email) %></th>
      <th><%= profiles.human_attribute_name(:state) %></th>
      <th><%= profiles.human_attribute_name(:job_title) %></th>
      <th><%= profiles.human_attribute_name(:age) %></th>
    </tr>
  </thead>
  <tbody>
    <% if profiles.any? %>
      <% profiles.each do |profile| %>
        <tr>
          <td><%= profile.email %></td>
          <td><%= profile.state.name %></td>
          <td><%= profile.job_title %></td>
          <td><%= profile.age %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4" class="text-muted"><%= t('.empty') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
