<%= form_for :criteria do |f| %>
  <ul>
    <li>
      Match
      <%= f.select :match, %w(all any) %>
    </li>
    <li>
    E-mail
    <%= f.select :title_position_criteria, %w(equals contains not_contains), include_blank: '' %>
    <%= f.text_field :title_position_value %>
    </li>
    <li>
      Estado
      <%= f.hidden_field :state_id_criteria, value: 'in' %>
      <%= f.text_field :state_id_value %>
    </li>

    <li>
      Idade
      <%= f.select :age_criteria, %w(equals greater_than less_than), include_blank: '' %>
      <%= f.text_field :state_id_value %>
    </li>
  </ul>


<% end %>
