<div class="row">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Segmentar</h3>
      </div>
      <div class="panel-body">
        <%= render 'search_form' %>
        <hr>
        <% if current_profile.saved_queries.any? %>
          <h6>Suas Segmentações</h6>
          <% current_profile.saved_queries.each do |query| %>
            <ul class="nav nav-stacked nav-pills">

              <li class="<%= 'active' if params[:saved_query_id].to_i == query.id %>">
                <%= link_to query.safe_parameters.merge(controller: :profiles,
                                                        action: :search,
                                                        saved_query_id: query.id) do %>
                  <%= query.name %>
                <% end %>
              </li>
            </ul>

          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= Profile.model_name.human(count: 2) %></h3>
      </div>
      <div class="panel-body">
        <%= render 'collection', profiles: @profiles %>
      </div>

      <% if @profiles.total_pages > 1 %>
        <div class="panel-footer">
          <%= paginate @profiles %>
        </div>
      <% end %>
    </div>
  </div>
</div>
